/* utility item */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital@1&display=swap');

body {
    margin: 0px;

}

section {
    margin-bottom: 200px;
}





/*------- header style 
--------------------*/
.navheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.heddingL {
    font-size: 24px;
}

ul li {
    display: inline;
    list-style: none;
    margin: 10px;
    font-weight: 600;
    font-size: 16px;


}

li a {
    text-decoration: none;
    font-family: Poppins;
}



/* -------main section 
---------------------*/
.influesnCon {
    display: flex;
    align-items: center;
    margin: 20px;
}

.titleSty {
    font-size: 52px;
    font-family: Poppins;

}

p {
    text-align: justify;
    font-weight: 500;
}

button {
    color: white;
    padding: 10px 24px;
    background-color: #E02C6D;
    border-radius: 20px;
    border-color: white;
    font-size: 16px;
    font-family: Poppins;
    font-weight: 600;
    cursor: pointer;
}


.influCamera {
    overflow: hidden;
    width: 150%;
    cursor: pointer;
}



.influCamera img {
    transform: scale(1);
    transition: 0.4s ease-in-out;


}

.influCamera:hover img {
    transform: scale(2);
}

/* logo item */
.section2 {

    margin: 100px;

}

hr {
    /* color: rgba(255, 255, 255, 0.792); */
    border-color: rgba(128, 128, 128, 0.112);

}

.logo {
    display: flex;
    justify-content: center;
}

.logo img {
    padding: 10px;
    margin-left: 30px;
    cursor: pointer;

}

/* collection page */


.collectionItems {
    /* background-color: #E02C6D; */
    width: 329px;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);



}

.collectionAll {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.imgees {
    overflow: hidden;
}

.imgees img {
    width: 330px;
    height: 256px;
    cursor: pointer;
    transform: scale(1);
    transition: 0.4s ease-in-out;

}

.imgees:hover img {
    transform: scale(2);
}

.collectionTitle h2 {
    display: flex;
    justify-content: center;
    font-size: 28px;
    font-family: Poppins;
}

.iconsty {
    display: flex;
    align-items: center;
}

.icons {
    display: flex;
    align-items: center;

}

.icons p {
    padding-left: 10px;
}

.rate {
    position: absolute;
    left: 200px;
}

.morePages {
    display: flex;
    align-items: center;
    position: absolute;
    right: 60px;

}



.morePages h3 a {
    text-decoration: none;
    color: rgba(224, 44, 109, 0.87);
}


/* fotter Style  */
footer {
    background-color: rgb(67, 67, 67);
    margin: 0px;


}

footer .footerTitle {
    color: white;
    font-size: 25px;
    text-align: center;
}

.iconsFoter li a {
    font-size: 30px;
    color: white;
    list-style: none;
    text-decoration: none;
    margin: -10px;
    padding: 40px;
    transform: scale(1);

}

.iconsFoter li:hover a {
    opacity: 10;
    color: rgb(144, 208, 243);
    transform: scale(1);
    transition: 0.1s ease-in-out;

}

footer .iconsFoter {
    display: flex;
    margin: 0px;
    flex-direction: column;
    align-items: center;
    position: relative;
    right: 20px;


}

.fotterCopyright {
    text-align: center;
    color: white;
    background-color: rgb(54, 54, 54);
}


/* other device screen */

/* mobile Device only */

@media only screen and (max-width:688px) {
    /* header style */

    .navheader {
        display: flex;
        flex-direction: column;
        width: 400px;
    }

    .navheader li {
        display: inline;
        position: relative;
        right: 30px;
        margin: 0px;

    }



    /* specific product  */
    .influesnCon {
        display: grid;
        grid-template-rows: repeat(1, 1fr);
        grid-gap: 20px;
    }

    .influCamera img {
        width: 50%;
        height: 50%;
    }


    /* logo in pages */

    .logo {
        display: flex;
        flex-direction: column;
        padding: 10px;
        margin: 0px 10px;
    }

    /* all product list */


    .collectionAll {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }

    /* footer style */
    .iconsFoter li a {
        padding: 20px;
    }


}

/* Only tab device */
@media only screen and (min-width:688px) and (max-width:992px) {
    .influesnCon {
        display: grid;
        grid-template-rows: repeat(1, 1fr);
        grid-gap: 20px;
    }

    .influCamera img {
        width: 50%;
        height: 100%;
    }

    .logo {
        display: flex;
        flex-direction: column;

        margin: 0px 20px;

    }

    .logo img {
        width: 50%;
        padding: 50px;
    }

    .collectionAll {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }

}